<!DOCTYPE HTML>

<html>
	<head>
		<title>Zhitao's Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1><a href="/index">Zhitao's Portfolio</a></h1>
					<p>Try to create unique experience</p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						
						<h2>Aquarium</h2>
						<p><b>April 2016</b><br />
						<b>position:</b> designer & programmer<br /><br/></p>

						<div class="images" width="100%">
							<img src="/static/images/aquarium.jpg" width="70%">
						</div>

						<p class="left"><br/><br/>It is a mobile game to stimulate an aquarium. Players uses the gyroscope in their mobile phone to control the fish's movement. Try to eat other fishes as many as possible and to avoid bigger fishes. After eating enough fishes, the fish that player controls can grow up to eat much bigger fish. 
						 </p>

						<p class="left">Aquarium was my first unity project. I learned lots of skills in this project such as programming in C#, making particle effects, setting lighting and so on. 
						</p>

						<p>Click <a href="/static/res/aquarium.apk"><b>here</b></a> to download apk</p>
						
						
						<ul class="actions">
							<li><a href="/index" class="button big">Return</a></li>
						</ul>
					</section>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>